{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}

    <h1>Users</h1>
    {% if user_list %}
        <p class="help-block">The archive has {{ user_list|length }} user{{ users|length|pluralize }}:</p>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th># UploadFileJobs</th>
                <th># Projects</th>
                <th># Models</th>
            </tr>
            {% for user, num_projs, num_models in user_projs_models %}
                <tr>
                    <td><a href="{% url 'user-detail' user.pk %}">{{ user.username }}</a></td>
                    <td>{{ user.upload_file_jobs.count }}</td>
                    <td>{{ num_projs }}</td>
                    <td>{{ num_models }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="help-block">There are no users in the system.</p>
    {% endif %}

{% endblock %}
