{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}


    <h1>About the Zoltar Forecast Archive</h1>

    <p>Welcome to the Zoltar forecast archive, a website developed by <a href="http://reichlab.io/">the Reich Lab</a>
        in the <a href="http://www.umass.edu/sphhs/biostatistics">Department of Biostatistics and Epidemiology at the
            University of Massachusetts Amherst</a>.
    </p>


    <h2>Purpose</h2>

    <p>Designed to improve the robustness of forecasting research, Zoltar is a research data repository that stores
        forecasts made by external models in standard formats and provides tools for validation, visualization, and
        scoring. It builds off of a foundation of core ideas and data structures first introduced in 2019 by
        <a href="http://cdcepi.github.io/predx/">predx</a>. Zoltar can host real-time or retrospective forecasting
        challenges, competitions, or research projects, with users specifying the forecast targets.
    </p>

    <p>In June 2020, we released a <a href="https://arxiv.org/abs/2006.03922">preprint</a> describing the concepts,
        data model, and intended scope of Zoltar.
    </p>

    <p>Please visit the <a href="https://docs.zoltardata.com/">Zoltar Documentation Site</a> for more information, along
        with guides for users, researchers, and developers. We have an API that supports programmatic push and pull
        access to forecast data, including forecasts themselves, model metadata, and forecast scores. We have also
        developed <a href="http://reichlab.io/zoltr/">zoltr</a>, an R
        package, and <a href="https://github.com/reichlab/zoltpy">zoltpy</a>, a Python library, to facilitate accessing
        the Zoltar API and the underlying forecast data.
    </p>


    <h2>Contributors</h2>

    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-xs-4">
            <div class="card mr-3 ml-3" style="width: 15rem;">
                <img src="static/matt.png" class="card-img-top" alt="picture of lead developer"/>
                <div class="card-body">
                    <h5 class="card-title">Lead Developer</h5>
                    <a href="http://www.matthewcornell.org/" class="card-link">Website</a>
                    <a href="https://github.com/matthewcornell" class="card-link">GitHub</a>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card mr-3 ml-3" style="width: 15rem;">
                <img src="static/nick.jpg" class="card-img-top" alt="picture of Principal Investigator"/>
                <div class="card-body">
                    <h5 class="card-title">Principal Investigator</h5>
                    <a href="https://scholar.google.com/citations?hl=en&user=AQUsdvkAAAAJ" class="card-link">Google
                        Scholar</a>
                    <a href="http://reichlab.io/" class="card-link">Lab website</a>
                    <a href="https://github.com/nickreich" class="card-link">GitHub</a>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card mr-3 ml-3" style="width: 15rem;">
                <img src="static/katie.png" class="card-img-top" alt="picture of Developer"/>
                <div class="card-body">
                    <h5 class="card-title">Developer</h5>
                    <a href="https://katie-house.com/" class="card-link">Website</a>
                    <a href="https://github.com/katiehouse3" class="card-link">GitHub</a>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card mr-3 ml-3" style="width: 15rem;">
                <img src="static/khoa.jpg" class="card-img-top" alt="picture of Developer"/>
                <div class="card-body">
                    <h5 class="card-title">Developer</h5>
                    <a href="https://www.linkedin.com/in/khoagle/" class="card-link">Website</a>
                    <a href="https://github.com/Khoale1096" class="card-link">GitHub</a>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card mr-3 ml-3" style="width: 15rem;">
                <img src="static/evan.jpg" class="card-img-top" alt="picture of Scientific Collaborator"/>
                <div class="card-body">
                    <h5 class="card-title">Scientific Collaborator</h5>
                    <a href="http://www.evanlray.com//" class="card-link">Website</a>
                    <a href="https://github.com/elray1" class="card-link">GitHub</a>
                </div>
            </div>
        </div>
    </div>


    <h2>Funding</h2>

    <p>This work has been supported by a grant from the National Institutes of General Medical Sciences (R35GM119582)
        and is a part of <a href="https://midasnetwork.us/">the MIDAS Network</a>. The content
        is solely the responsibility of the authors and does not necessarily represent the official views of NIGMS, or
        the National Institutes of Health.
    </p>


    <h2>Contact</h2>

    <p>If you have questions about this site or want an account, please contact Professor Nicholas Reich
        (<a href="mailto:nick@schoolph.umass.edu">nick@schoolph.umass.edu</a>), director of the <a
                href="http://reichlab.io/">Reich Lab</a>.
    </p>

{% endblock %}
