<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %} - Forecast Repository</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

{% include 'navbar_snippet.html' %}


<div class="container">
    <!-- hack to put vertical spacing above row, per https://stackoverflow.com/questions/12273588/add-vertical-blank-space-using-twitter-bootstrap -->
    <ol style="visibility:hidden;"></ol>

    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>

</html>
