<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %} - Forecast Repository</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://reichlab.io/">
                {# following style per https://stackoverflow.com/a/35952273/1082367 . took forever to get this close! #}
                <img style="display: inline-block; height: 40px; margin-top: -10px"
                     src="{% static 'nav-logo.png' %}"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbar" class="collapse navbar-collapse">

            <!-- Left-justified items  -->
            <ul class="nav navbar-nav">
                <li><span class="navbar-brand">|</span><a class="navbar-brand" href="{% url 'index' %}">Forecast
                    Repository</a></li>
            </ul>


            <!-- Right-justified items. Regarding classes, the ones from the docs ( "nav navbar-nav navbar-right" ) work,
                 but result in their being hard-justified on the right with no padding. I was able to add padding using
                "nav navbar-nav pull-right" to add padding on the right, but the items are also on the right in the
                collapsed hamburger. Also, dropdowns were off the screen to the right. So for now we live with the former.
            -->
            <ul class="nav navbar-nav navbar-right">

                <!-- user dropdown -->
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="disabled"><a href="#">Signed in as <strong>{{ user }}</strong></a></li>
                            {% if user.is_superuser %}<li><a href="{% url 'admin:index' %}">Admin site</a></li>{% endif %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'logout' %}">Sign out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Sign in</a></li>
                {% endif %}

                <!-- help dropdown -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'about' %}">About</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>

</html>
