<div class="modal fade" id="confirmModal_{{ delete_object.html_id }}" tabindex="-1" role="dialog" aria-labelledby="titleLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="titleLabel">
                    Delete {{ delete_object.get_class }} &ldquo;{{ delete_object.name }}&rdquo;?
                </h4>
            </div>
            {# no <div class="modal-body"></div> #}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                {# the actual form to delete #}
                <form class="form-inline" style="display: inline-block;" method="POST"
                      action="{% url delete_url delete_object.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
