{% extends "base.html" %}

{% block title %}Forecast data for &ldquo;{{ forecast.csv_filename }}&rdquo;{% endblock %}

{% block content %}

    <p class="lead">Forecast data for &ldquo;{{ forecast.csv_filename }}&rdquo;</p>

    <p><strong>Data Filename</strong>: {{ forecast.csv_filename }}</p>
    <p><strong>Forecast</strong>: <a href="{% url 'forecast-detail' forecast.pk %}">Details</a></p>
    <p><strong>TimeZero</strong>: {{ forecast.time_zero.timezero_date|date:"Y-m-d" }}</p>

    {% include 'csv_data_snippet.html' with model_with_cdc_data=forecast %}

    <form class="form-inline" method="POST" action="{% url 'download-forecast-json' forecast.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Download as JSON file</button>
    </form>

{% endblock %}
