{% extends "base.html" %}

{% load humanize %}

{% block title %}Welcome!{% endblock %}

{% block content %}

    <style>
        {# https://stackoverflow.com/questions/11078913/how-to-set-max-width-of-an-image-in-css #}
        #projectLogoDiv img {
            max-width: 200px;
        }
    </style>

    <h1>Forecast Repository Home <a href="{% url 'api-root' %}" class="btn btn-info btn-xs" role="button">API</a></h1>

    <p><img width="50%" src="http://reichlab.io/images/blog/flusight-wide.png" class="pull-right">
        Welcome to the <a href="http://reichlab.io/">Reichlab</a> <em>Forecast Repository</em>, a web application to
        prototype our ideas for a repository of model forecast results along with tools to compare, etc. The main
        ideas are outlined on the <a href="{% url 'about' %}">About</a> page.
    </p>


    <h2>Projects
        <a href="{% url 'api-project-list' %}" class="btn btn-info btn-xs" role="button">API</a>
        {% if ok_user_create_project %}
            &nbsp;<a href="{% url 'create-project' %}" class="btn btn-success" role="button">New</a>
        {% endif %}
    </h2>

    {% if projects %}
        <p class="help-block">The repository has {{ projects|length }}
            project{{ projects|length|pluralize }}:</p>

        <table class="table table-striped table-bordered">
            <tr>
                <th>Project</th>
                <th></th>  <!-- Logo -->
                <th>Owner</th>
                <th>Visibility</th>
                <th>Description</th>
                <th>Objects</th>
            </tr>
            {% for project in projects %}
                <tr>
                    <td>
                        <a href="{% url 'project-detail' project.pk %}">{{ project.name }}</a>
                    </td>
                    <td>
                        {% if project.logo_url %}
                            <div id="projectLogoDiv"><a href="{{ project.home_url }}"><img src="{{ project.logo_url }}"></a>
                            </div>
                        {% else %}
                            <small class="text-muted">(No logo)</small>
                        {% endif %}
                    </td>
                    <td>
                        {% if project.owner %}
                            <a href="{% url 'user-detail' project.owner.pk %}">{{ project.owner.username }}</a>
                        {% else %}
                            <small class="text-muted">(No owner)</small>
                        {% endif %}
                    </td>
                    <td>
                        {% if project.is_public %}
                            <span style="color:green">Public</span>
                        {% else %}
                            <span style="color:red">Private</span>
                        {% endif %}
                    </td>
                    <td>
                        {{ project.description|linebreaksbr }}
                    </td>
                    <td class="text-muted">
                        {{ project.get_summary_counts.0 }} model{{ project.get_summary_counts.0|pluralize }},
                        {{ project.get_summary_counts.1 }} forecast{{ project.get_summary_counts.1|pluralize }},
                        {{ project.get_summary_counts.2|intcomma }} row{{ project.get_summary_counts.2|pluralize }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no projects in the repository.</p>
    {% endif %}

{% endblock %}
