{% extends "base.html" %}

{% load static %}

{% load humanize %}

{% block title %}Welcome!{% endblock %}

{% block content %}

    <style>
        {# https://stackoverflow.com/questions/11078913/how-to-set-max-width-of-an-image-in-css #}
        #projectLogoDiv img {
            max-width: 200px;
        }
    </style>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="container background-image">
        <div class="jumbotron" background-image="{% static 'flusight-wide.png' %}">
            <div class="container">
            <h3 class="display-3">A Forecast Archive</h1>
                <p>
                   Welcome to the Zoltar forecast archive, an open-source web application that facilitates 
                   the storage, retrieval, evaluation, and visualization of point and probabilistic forecasts. 
                   Zoltar was developed to assist with many kinds of real-time forecasting projects. 
                </p>
            <p><a class="btn btn-outline-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Projects</h2>
              <p>
                Projects are the fundamental organization unit of Zoltar, and hold a collection of 
                models and their forecasts. Project owners can customize the details of a project 
                for a forecasting challenge, a collaborative research project, or a teaching workshop.
              </p>
              <p><a class="btn btn-secondary" href="{% url 'projects' %}" role="button">View Projects &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Users</h2>
              <p>
                Interested in using Zoltar yourself? Contact us at zoltar@reichlab.com 
                to be added to our beta-tester invitation queue. We aim to open user registration 
                by May 2020. Users have permission to create projects and upload forecasts to Zoltar.
            </p>
              <p><a class="btn btn-secondary" href="{% url 'login' %}" role="button">Sign in &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>First Steps</h2>
              <p>
                Getting started with Zoltar? We have developed a documentation site that 
                describes in detail how to use Zoltar. From configuring projects, interacting 
                with Zoltar via the API, and choosing the right targets for your setting, click below to get started.
              </p>
            <p><a class="btn btn-secondary" href="https://docs.zoltardata.com/" role="button">Get Started &raquo;</a></p>
          </div>
        </div>
      </div> 
    </main>

{% endblock %}
