{% load static %}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            {# following style https://stackoverflow.com/a/35952273/1082367 . took forever to get this close! #}
            <img style="display: inline-block; height: 40px; margin-top: -10px"
                    src="{% static 'zoltar_white.png' %}"/>
        </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Left-justified items (none) -->

            <!-- Right-justified items. Regarding classes, the ones from the docs ( "nav navbar-nav navbar-right" ) work,
                 but result in their being hard-justified on the right with no padding. I was able to add padding using
                "nav navbar-nav pull-right" to add padding on the right, but the items are also on the right in the
                collapsed hamburger. Also, dropdowns were off the screen to the right. So for now we live with the former.
            -->
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="https://docs.zoltardata.com/">Docs</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <!-- user dropdown -->
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user }}
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin site</a>
                                <a class="dropdown-item" href="{% url 'user-list' %}">Users</a>
                                <a class="dropdown-item" href="{% url 'zadmin' %}">Zoltar Admin</a>
                                <a class="dropdown-item"href="{% url 'rq_home' %}">RQ Admin</a>
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            <a class="dropdown-item"  href="{% url 'user-detail' user.pk %}">Profile Page</a>
                            <a class="dropdown-item"  href="{% url 'logout' %}">Sign out</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Sign in</a></li>
                {% endif %}

                <!-- help dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-question-circle"></i>
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'about' %}">About</a>
                        <a class="dropdown-item" href="https://docs.zoltardata.com/" target="_blank">Documentation</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'index' %}">Site Index</a>
                        <a class="dropdown-item" href="{% url 'api-root' %}">Site API Root</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>
