{% extends "base.html" %}

{% load static %}

{% block title %}Project viz: {{ project.name }}{% endblock %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    <script type="text/javascript" src="{% static 'zoltar_viz/zoltar_viz.js' %}"></script>
{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'projects' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
            <li class="breadcrumb-item active">Viz</li>
        </ol>
    </nav>

    {# the UI is one row with two columns: options on left and the plotly plot on the right #}
    <div class="row">

        {# options div #}
        <div id="forecastViz_options" class="col-md-3">

            {# Outcome, Location, and Intreval selects #}
            <form>
                <div class="form-row">
                    <label for="target_variable" class="col-sm-4 col-form-label">Outcome:</label>
                    <div class="col-sm-8">
                        <select id="target_variable" class="form-control" name="target_variables">
                            {% for target_var in target_variables %}
                                <option value="{{ target_var.value }}">{{ target_var.text }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <label for="location" class="col-sm-4 col-form-label">Location:</label>
                    <div class="col-sm-8">
                        <select id="location" class="form-control" name="location">
                            {% for unit in units %}
                                <option value="{{ unit.value }}">{{ unit.text }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <label for="intervals" class="col-sm-4 col-form-label">Interval:</label>
                    <div class="col-sm-8">
                        <select id="intervals" class="form-control" name="intervals">
                            {% for interval in intervals %}
                                <option value="interval">{{ interval }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>

            {# truth checkboxes #}
            <div class="pt-md-3">Select Truth Data:</div>
            <div class="form-group form-check forecastViz_select_data ">
                <input title="curr truth" type="checkbox" id="forecastViz_Current_Truth" value="Current Truth" checked>
                &nbsp;Current ({xx_current_date})
                &nbsp;<span class="forecastViz_dot" style="background-color: lightgrey; "></span>
                <br>
                <input title="truth as of" type="checkbox" id="forecastViz_Truth_as_of" value="Truth as of" checked>
                &nbsp;As of {xx_as_of_date}
                &nbsp;<span class="forecastViz_dot" style="background-color: black;"></span>
            </div>

            {# model list controls #}
            <button type="button" class="btn btn-sm rounded-pill" style="float: right;">Shuffle Colours</button>
            <label class="forecastViz_label" for="forecastViz_all">Select Models:</label>
            <input type="checkbox" id="forecastViz_all">

            {# model list. populated by set_models() #}
            <div id="forecastViz_select_model">
            </div>

        </div>

        {# plotly div #}
        <div id="forecastViz_viz" class="col-md-9">
            <div id="ploty_div"></div>
        </div>

    </div>


    <script>
        App.initialize({{ project.id }}, "{{ csrf_token }}");
    </script>


    <style>

        {# from nuxt-forecast-viz/components/lib/forecastViz.vue #}

        .forecastViz_dot {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            border: 1px solid black;
            display: inline-block;
        }

        #forecastViz_select_model {
            height: 48vh;
            overflow-y: scroll;
            {# margin-top: 20px; #}
            font-size: 14px;
        }

    </style>

{% endblock %}
