{% extends "base.html" %}

{% block title %}Project Scores: {{ project.name }}{% endblock %}

{% block content %}

    <p class="lead">Project scores for &ldquo;{{ project.name }}&rdquo;</p>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Project:</th>
                    <td><a href="{{ project.get_absolute_url }}"> {{ project.name }}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <h2>Location and Season</h2>

    <!--
    Show two forms to select location and season_name. The former is handled by JavaScript since that data is in-
    memory (the view passes all locations for a particular season_name). The latter submits a GET to get new
    location data for the (presumed) new season_name.

    todo merge w/nearly identical div in project_visualizations.html (only diff is GET url)
    -->
    <div class="row">
        <div class="col-md-4">
            <form class="form-inline" action="#">
                <div class="form-group">
                    <label for="location_select">Location:</label>
                    <select id="location_select" class="form-control" name="location_select_name">
                        {% for location_option in locations %}
                            <option {% if location_option == location %}selected="selected"{% endif %}>{{ location_option }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            {# enable seasons form only if more than one season #}
            {% if seasons|length < 2 %}
                {# <fieldset> idea per https://stackoverflow.com/questions/3507958/how-can-i-make-an-entire-html-form-readonly-server-side-only-please #}
                <fieldset disabled="disabled">
            {% endif %}
            <form class="form-inline" method="GET" action="{% url 'project-scores' project.pk %}">
                {% include 'season_form_snippet.html' %}
            </form>
            {% if seasons|length < 2 %}
                </fieldset>
            {% endif %}
        </div>
    </div>


    <h2>Mean Absolute Error</h2>

    <p class="help-block">
        <a href="https://github.com/reichlab/flusight/wiki/Scoring#1-absolute-error" target="_blank">Absolute error</a>
        is the absolute value of difference between the eventually observed value and the point prediction. Scores for
        the current season are calculated using the most recently updated data. Final values may differ.
    </p>


    {# show a table similar to flusight's #}
    {% if location_to_rows_and_mins %}

        <table id="mae_table" class="table table-striped">
            <thead>
            {# <tr> eles added here by JavaScript below #}
            </thead>

            <tbody>
            {# <tr> eles with <td>s added here by JavaScript below #}
            </tbody>
        </table>


        <script type="text/javascript">
            $(function () {

                function updateMaeTableForLocation() {
                    // dynamically build #mae_table with location_to_rows_and_mins using current #location_select

                    var location = $('#location_select').find(":selected").text();
                    var locationToRowsAndMins = {{location_to_rows_and_mins|safe}};
                    var mean_abs_error_rows = locationToRowsAndMins[location][0];
                    var target_to_min_mae = locationToRowsAndMins[location][1];

                    // add the header row
                    var $maeTableThead = $('#mae_table thead');
                    $maeTableThead.children().remove();
                    $maeTableThead.append($('<tr/>'));
                    var headerRow = mean_abs_error_rows[0];
                    $.each(headerRow, function (idx, headerVal) {
                        $('#mae_table thead tr').append($('<th>' + headerVal + '</th>'));
                    });

                    // add the body rows
                    var $maeTableTbody = $('#mae_table tbody');
                    $maeTableTbody.children().remove();
                    $.each(mean_abs_error_rows.slice(1), function (idx, row) {
                        var $tr = $('<tr/>');
                        $.each(row, function (idx, tdVal) {
                            if (idx === 0) {  // tdVal = model.pk
                                var name_and_url = {{ model_pk_to_name_and_url|safe }}[tdVal];
                                $tr.append($('<td><a href="' + name_and_url[1] + '">' + name_and_url[0] + '</a></td>'));
                            } else {  // tdVal = mae value
                                var targetName = headerRow[idx];
                                var min_mae = target_to_min_mae[targetName];
                                var maeStr = Number(tdVal).toFixed(2);
                                if (tdVal === min_mae) {
                                    $tr.append($('<td><span class="label label-default">' + maeStr + '</span></td>'));
                                } else {
                                    $tr.append($('<td>' + maeStr + '</td>'));
                                }
                            }
                        });
                        $maeTableTbody.append($tr);
                    });
                }

                updateMaeTableForLocation();

                $("#location_select").change(function () {
                    updateMaeTableForLocation();
                });

            })
        </script>

    {% else %}
        <p class="text-muted">(No data available)</p>
    {% endif %}

{% endblock %}
