{% extends "base.html" %}

{% block title %}Aggregate Scores: {{ project.name }}{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'projects' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
            <li class="breadcrumb-item active">Aggregate scores</li>
        </ol>
    </nav>


    <!--
    Show two forms to select unit and season_name. The former is handled by JavaScript since that data is in-
    memory (the view passes all units for a particular season_name). The latter submits a GET to get new
    unit data for the (presumed) new season_name.

    todo merge w/nearly identical div in project_visualizations.html (only diff is GET url)
    -->
    <div class="row">
        <div class="col-md-4">
            <form class="form-inline" action="#">
                <div class="form-group">
                    <label for="unit_select">Unit:</label>
                    <select id="unit_select" class="form-control" name="unit_select_name">
                        {% for unit_option in units %}
                            <option {% if unit_option == unit %}selected="selected"{% endif %}>{{ unit_option }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            {# enable seasons form only if more than one season #}
            {% if seasons|length < 2 %}
                {# <fieldset> idea via https://stackoverflow.com/questions/3507958/how-can-i-make-an-entire-html-form-readonly-server-side-only-please #}
                <fieldset disabled="disabled">
            {% endif %}
            <form class="form-inline" method="GET" action="{% url 'project-scores' project.pk %}">
                {% include 'season_form_snippet.html' %}
            </form>
            {% if seasons|length < 2 %}
                </fieldset>
            {% endif %}
        </div>
    </div>

    <hr> {# hack to get buttons to group visually with content above them #}


    <h4>Mean Absolute Error</h4>

    <p class="help-block">
        <a href="https://github.com/reichlab/flusight/wiki/Scoring#1-absolute-error" target="_blank">Absolute error</a>
        is the absolute value of difference between the eventually observed value and the point prediction. This page
        is an aggregate of scores that are currently in Zoltar, and only as up-to-date as they are. No scores are shown
        for a particular unit or target if the errors could not be calculated because not all truth values were
        available for it.
    </p>


    {# show a table similar to flusight's #}
    {% if unit_to_rows_and_mins and is_all_units_have_rows %}

        <table id="mae_table" class="table table-striped">
            <thead>
            {# <tr> eles added here by JavaScript below #}
            </thead>

            <tbody>
            {# <tr> eles with <td>s added here by JavaScript below #}
            </tbody>
        </table>


        <script type="text/javascript">
            $(function () {

                function updateMaeTableForUnit() {
                    // dynamically build #mae_table with unit_to_rows_and_mins using current #unit_select

                    var unit = $('#unit_select').find(":selected").text();
                    var unitToRowsAndMins = {{unit_to_rows_and_mins|safe}};
                    var mean_abs_error_rows = unitToRowsAndMins[unit][0];
                    var target_to_min_mae = unitToRowsAndMins[unit][1];

                    // add the header row
                    var $maeTableThead = $('#mae_table thead');
                    $maeTableThead.children().remove();
                    $maeTableThead.append($('<tr/>'));
                    var headerRow = mean_abs_error_rows[0];
                    $.each(headerRow, function (idx, headerVal) {
                        $('#mae_table thead tr').append($('<th>' + headerVal + '</th>'));
                    });

                    // add the body rows
                    var $maeTableTbody = $('#mae_table tbody');
                    $maeTableTbody.children().remove();
                    $.each(mean_abs_error_rows.slice(1), function (idx, row) {
                        var $tr = $('<tr/>');
                        $.each(row, function (idx, tdVal) {
                            if (idx === 0) {  // tdVal = model.pk
                                var name_and_url = {{ model_pk_to_name_and_url|safe }}[tdVal];
                                $tr.append($('<td><a href="' + name_and_url[1] + '">' + name_and_url[0] + '</a></td>'));
                            } else {  // tdVal = mae value
                                var targetName = headerRow[idx];
                                var min_mae = target_to_min_mae[targetName];
                                // recall that tdVal is null when the absolute error was not able to be calculated
                                var maeStr = tdVal === null ? '-' : Number(tdVal).toFixed(2);
                                if (tdVal && (tdVal === min_mae)) {
                                    $tr.append($('<td><span class="label label-default">' + maeStr + '</span></td>'));
                                } else {
                                    $tr.append($('<td>' + maeStr + '</td>'));
                                }
                            }
                        });
                        $maeTableTbody.append($tr);
                    });
                }

                updateMaeTableForUnit();

                $("#unit_select").change(function () {
                    updateMaeTableForUnit();
                });

            })
        </script>

    {% else %}
        <p class="text-muted">({% if not project.is_truth_data_loaded %}No truth data loaded into project.{% else %}
            Could not calculate scores.{% endif %})</p>
    {% endif %}

{% endblock %}
