{% extends "base.html" %}

{% block title %}Project Score Data: {{ project.name }}{% endblock %}

{% block content %}

    <p class="lead">Project score data for &ldquo;{{ project.name }}&rdquo;</p>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Project:</th>
                    <td><a href="{{ project.get_absolute_url }}"> {{ project.name }}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <h2>Scores (all models)</h2>

    {% if score_summaries %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Last Update</th>
                <th># Score Values</th>
            </tr>
            {% for score, num_score_values, last_update in score_summaries %}
                <tr>
                    <td>{{ score.name }}</td>
                    <td>{{ score.description }}</td>
                    <td>{{ last_update.updated_at }}</td>
                    <td>{{ num_score_values }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>
            <small class="text-muted">(No scores defined)</small>
        </p>
    {% endif %}

    <form id="download_form" class="form-inline" method="POST" action="{% url 'project-scores' project.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Download CSV</button>
        {% if project.score_csv_file_cache.is_file_exists %}
            <span class="text-muted">(Cached file updated {{ project.score_csv_file_cache.updated_at|date:"Y-m-d h:i:s" }})</span>
        {% else %}
            <span class="text-muted">(No cached file - download may be slow.)</span>
        {% endif %}
    </form>


    <h2>Score Counts (per model)</h2>

    {% if model_score_count_rows %}
        <div class="row">
            <div class="col-md-8">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Model</th>
                        <th>Score</th>
                        <th># Score Values</th>
                    </tr>
                    {% for forecast_model, score, count in model_score_count_rows %}
                        <tr>
                            <td>
                                {% if forecast_model %}
                                    <a href="{{ forecast_model.get_absolute_url }}">{{ forecast_model.name }}</a>
                                {% else %}{% endif %}
                            </td>
                            <td>
                                {{ score.name }}
                            </td>
                            <td>
                                {{ count }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% else %}
        <p>
            <small class="text-muted">(No score data)</small>
        </p>
    {% endif %}


{% endblock %}
