{% extends "base.html" %}

{% load static %}

{% block title %}Project viz: {{ project.name }}{% endblock %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
    <link rel="stylesheet" href="{% static 'zoltar_viz/zoltar_viz.css' %}">
    <script type="text/javascript" src="{% static 'zoltar_viz/zoltar_viz.js' %}"></script>
{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'projects' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
            <li class="breadcrumb-item active">Viz</li>
        </ol>
    </nav>

    <div id="forecastViz_row" class="row">
        {# the div passed to zoltar_viz.js initialize(), which populates all DOM elements #}
    </div>


    <script>
        App.initialize('forecastViz_row', {{ project.id }}, {{ options|safe }});
    </script>

{% endblock %}
