{% extends "base.html" %}

{% load static %}

{% load humanize %}

{% block title %}Welcome!{% endblock %}

{% block content %}

    <style>
        {# https://stackoverflow.com/questions/11078913/how-to-set-max-width-of-an-image-in-css #}
        #projectLogoDiv img {
            max-width: 200px;
        }
    </style>

    <h2>Projects
        <a href="{% url 'api-project-list' %}" class="btn btn-primary btn-sm" role="button">API</a>
        {% if is_user_ok_create_project %}
            {# show the new project form with a button dropdown of options for creating: form or file #}
            <form id="download_form" class="form-inline" style="display: inline-block;" method="POST">
                {% csrf_token %}
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle btn-sm" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        New
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'create-project-from-form' %}">From form...</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#choose_project_config_modal"
                           href="#">From file...</a>
                    </div>
                </div>
            </form>
        {% endif %}
    </h2>

    <!-- here is the #choose_project_config_modal itself - hidden until above link shows it. it is here instead of in
    the above `if is_user_ok_create_project` b/c the lower 1/2 of the modal was styled too big. -->
    {% if is_user_ok_create_project %}
        {% include 'choose_project_config_snippet.html' with action_url='create-project-from-file' %}
    {% endif %}

    {% if projects %}
        <p class="help-block">The archive has {{ projects|length }} project{{ projects|length|pluralize }}:</p>

        <table class="table table-striped table-bordered">
            <tr>
                <th>Project</th>
                <th></th>  <!-- Logo -->
                <th>Owner</th>
                <th>Description</th>
                <th>Summary</th>
            </tr>
            {% for project in projects %}
                {% with proj_summary_counts=project.get_summary_counts %}
                    <tr>
                        <td>
                            <a href="{% url 'project-detail' project.pk %}">{{ project.name }}</a>
                        </td>
                        <td>
                            {% if project.logo_url %}
                                <div id="projectLogoDiv"><a href="{{ project.home_url }}"><img
                                        src="{{ project.logo_url }}"></a>
                                </div>
                            {% else %}
                                <small class="text-muted">(No logo)</small>
                            {% endif %}
                        </td>
                        <td>
                            {% if project.owner %}
                                <a href="{% url 'user-detail' project.owner.pk %}">{{ project.owner.username }}</a>
                            {% else %}
                                <small class="text-muted">(No owner)</small>
                            {% endif %}
                        </td>
                        <td>
                            {{ project.description|linebreaksbr }}
                        </td>
                        <td title="Est. row counts" class="text-muted">
                            {% include 'visibility_snippet.html' with project=project %}
                            <br>
                            {% include "project_count_snippet.html" with project=project proj_summary_counts=proj_summary_counts use_intword=True %}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </table>
    {% else %}
        <p>There are no projects in the archive.</p>
    {% endif %}

{% endblock %}
