{% extends "base.html" %}

{% load humanize %}
{% load tz %}
{% load custom_tags %}

{% block title %}Project Forecasts: {{ project.name }}{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'projects' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
            <li class="breadcrumb-item active">Forecasts</li>
        </ol>
    </nav>


    <h2>Forecast Heatmap
        <div class="dropdown d-inline-block">
            <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Color by
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'project-forecasts' project.pk %}?colorby=predictions"
                   id="color_num_rows"># predictions</a>
                <a class="dropdown-item" href="{% url 'project-forecasts' project.pk %}?colorby=units"
                   id="color_num_units"># units</a>
                <a class="dropdown-item" href="{% url 'project-forecasts' project.pk %}?colorby=targets"
                   id="color_num_targets"># targets</a>
            </div>
        </div>
    </h2>


    {# Vega-Lite #}
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    {# vega-embed gives this error: Source map error: Error: request failed with status 404. Resource URL: https://cdn.jsdelivr.net/npm/vega-embed@6 Source Map URL: vega-embed.min.js.map  #}
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

    {# Vega-Lite #}
    <div class="row">
        <div id="vis" class="col-md-12"></div>
    </div>

    {# Vega-Lite #}
    <script type="text/javascript">
        vegaEmbed('#vis', {{ vega_lite_spec|safe}});
    </script>


    <h2>Forecasts <small>({{ forecast_rows|length|intword|intcomma }})</small></h2>

    {% if forecast_rows %}
        <table id="forecasts_table" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Model</th>
                <th>Timezero</th>
                <th>Issued at</th>
                <th>Upload Time</th>
                <th># Predictions</th>
            </tr>
            </thead>
            <tbody>
            {% for forecast_url, timezero_date, issued_at, created_at, model_url, model_abbrev, num_pred_eles in forecast_rows %}
                <tr>
                    <td><a href="{{ model_url }}">{{ model_abbrev }}</a></td>
                    <td><a href="{{ forecast_url }}">{{ timezero_date|date:"Y-m-d" }}</a></td>
                    <td>
                        {# handle whether datetimes came from db as objects or strings #}
                        {% if issued_at|get_class == 'datetime' %}
                            {% localtime off %} {{ issued_at|date:"Y-m-d H:i:s T" }} {% endlocaltime %}
                        {% else %}
                            {% localtime off %} {{ issued_at|date:"Y-m-d H:i:s T" }} {% endlocaltime %}
                        {% endif %}
                    </td>
                    <td>
                        {# handle whether datetimes came from db as objects or strings #}
                        {% if created_at|get_class == 'datetime' %}
                            {% localtime off %} {{ created_at|date:"Y-m-d H:i:s T" }} {% endlocaltime %}
                        {% else %}
                            {% localtime off %} {{ created_at|date:"Y-m-d H:i:s T" }} {% endlocaltime %}
                        {% endif %}
                    </td>
                    <td>{{ num_pred_eles }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            <small class="text-muted">(No forecasts)</small>
        </p>
    {% endif %}


    <script>
        $(document).ready(function () {
            // activate the https://datatables.net/
            $('#forecasts_table').DataTable({
                order: [[1, "desc"]],  // Timezero
            });
        });
    </script>

{% endblock %}
