{% extends "base.html" %}

{% block title %}Project Visualizations: {{ project.name }}{% endblock %}

{% block content %}

    <h1>Project Visualizations</h1>

    <p><strong>Project</strong>: <a href="{{ project.get_absolute_url }}"> {{ project.name }}</a></p>


    <h2>Models</h2>
    <p>
    <ul>
        {% for forecast_model in project.forecastmodel_set.all %}
            <li><a href="{{ forecast_model.get_absolute_url }}">{{ forecast_model.name }}</a></li>
        {% endfor %}
    </ul>
    </p>


    <h2>Mean Absolute Error</h2>
    <p>Mean Absolute Error for all models and their week-related targets.
    <ul>
        <li><code>season_start_year</code>: {{ season_start_year }}</li>
        <li><code>location</code>: {{ location }}</li>
    </ul>

    {% if mean_abs_error_rows %}
        {# show a table similar to flusight's #}
        <table class="table table-striped">
            <thead>
            <tr>
                {% for header_name in mean_abs_error_rows.0 %}
                    <th>{{ header_name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in mean_abs_error_rows|slice:"1:" %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                    <td>{{ row.3 }}</td>
                    <td>{{ row.4 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <span class="text-muted">(No data available)</span>
    {% endif %}

{% endblock %}
