{% extends "base.html" %}

{% load humanize %}
{% load tz %}
{% load custom_tags %}
{% load static %}

{% block title %}Project Forecasts: {{ project.name }}{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'projects' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
            <li class="breadcrumb-item active">Forecasts</li>
        </ol>
    </nav>

    <h2>Forecast Heatmap</h2>

    <div class="col-auto">
        <form id="filter_form" class="form-inline" style="display: inline-block;" method="GET"
              action="{% url 'project-forecasts' project.id %}">
            <div class="form-row align-items-center">

                <!-- Color by select -->
                <div class="col-auto">
                    <label class="sr-only" for="colorby_select">Unit</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Color by</div>
                        </div>
                        <select id="colorby_select" class="form-control" name="color_by">
                            <option value="predictions" {% if filter_color_by == 'predictions' %}selected{% endif %}>
                                # predictions
                            </option>
                            <option value="units" {% if filter_color_by == 'units' %}selected{% endif %}>
                                # units
                            </option>
                            <option value="targets" {% if filter_color_by == 'targets' %}selected{% endif %}>
                                # targets
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Target group select -->
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Target</div>
                        </div>
                        <select id="target_select" class="form-control" name="target">
                            <option value="all_targets">All Targets</option>
                            {% for group_name in target_groups %}
                                <option value="{{ group_name }}"
                                        {% if filter_target == group_name %}selected{% endif %}>
                                    {{ group_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Date range picker -->
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Dates</div>
                        </div>
                        {# todo validate: "yyyy-mm-dd to yyyy-mm-dd" #}
                        <input id="date_range" type="text" name="date_range" class="form-control"
                               {% if filter_date_range %}value="{{ filter_date_range }}"{% endif %}>
                    </div>
                </div>

                <!-- # Submissions text input -->
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Min. # submissions</div>
                        </div>
                        {# todo validate: > 0 #}
                        <input type="text" name="min_num_forecasts" class="form-control"
                               {% if filter_min_num_forecasts %}value="{{ filter_min_num_forecasts }}"{% endif %}>
                    </div>
                </div>

                <!-- Submit and Reset buttons -->
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <button type="submit" class="save btn btn-success btn-sm">Submit</button>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="input-group mb-2">
                        <a href="{% url 'project-forecasts' project.id %}"
                           class="save btn btn-sm btn-light" role="button">Show Recent</a>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="input-group mb-2">
                        <a href="{% url 'project-forecasts' project.id %}?show_all=true"
                           class="save btn btn-sm btn-light" role="button">Show All</a>
                    </div>
                </div>

            </div>
        </form>
    </div>


    <!-- https://github.com/longbill/jquery-date-range-picker
    NB: we could not get the download to work, so we extracted these files from the demo page
    https://longbill.github.io/jquery-date-range-picker/
    -->
    <link rel="stylesheet" type="text/css" href="{% static 'jquery_date_range_picker/daterangepicker.css' %}">
    <script type="text/javascript" src="{% static 'jquery_date_range_picker/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery_date_range_picker/jquery_002.js' %}"></script>

    <script type="text/javascript">
        const config = {
            // - startDate (String or false): This string defines the earliest date which is allowed for the user, same format as `format`
            // - endDate (String or false): This string defines the latest date which is allowed for the user, same format as `format`
            // default configuration:
            //   - format: 'YYYY-MM-DD'
            //   - separator: ' to ',
            {#startDate: '2021-06-20',#}
            {#endDate: '2021-06-23'#}
        };
        $('#date_range').dateRangePicker(config);
    </script>


    <!-- Vega-Lite -->
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    {# vega-embed gives this error: Source map error: Error: request failed with status 404. Resource URL: https://cdn.jsdelivr.net/npm/vega-embed@6 Source Map URL: vega-embed.min.js.map  #}
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

    <div class="row">
        <div id="vis" class="col-md-12"></div>
    </div>

    <script type="text/javascript">
        vegaEmbed('#vis', {{ vega_lite_spec|safe}});
    </script>


    <h2>Forecasts <small>({{ forecast_rows|length|intword|intcomma }})</small></h2>

    {% if forecast_rows %}
        <table id="forecasts_table" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Model</th>
                <th>Timezero</th>
                <th>Issued at</th>
                <th>Upload Time</th>
                <th># Predictions</th>
            </tr>
            </thead>
            <tbody>
            {% for forecast_url, timezero_date, issued_at, created_at, model_url, model_abbrev, num_pred_eles in forecast_rows %}
                <tr>
                    <td><a href="{{ model_url }}">
                        {% if model_abbrev %}{{ model_abbrev }}{% else %}(no abbreviation){% endif %}</a>
                    </td>
                    <td><a href="{{ forecast_url }}">{{ timezero_date|date:"Y-m-d" }}</a></td>
                    <td>
                        {# handle whether datetimes came from db as objects or strings #}
                        {% if issued_at|get_class == 'datetime' %}
                            {% localtime off %} {{ issued_at|date:"Y-m-d H:i:s T" }} {% endlocaltime %}
                        {% else %}
                            {% localtime off %} {{ issued_at|date:"Y-m-d H:i:s T" }} {% endlocaltime %}
                        {% endif %}
                    </td>
                    <td>
                        {# handle whether datetimes came from db as objects or strings #}
                        {% if created_at|get_class == 'datetime' %}
                            {% localtime off %} {{ created_at|date:"Y-m-d H:i:s T" }} {% endlocaltime %}
                        {% else %}
                            {% localtime off %} {{ created_at|date:"Y-m-d H:i:s T" }} {% endlocaltime %}
                        {% endif %}
                    </td>
                    <td>{{ num_pred_eles }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            <small class="text-muted">(No forecasts)</small>
        </p>
    {% endif %}


    <script>
        $(document).ready(function () {
            // activate the https://datatables.net/
            $('#forecasts_table').DataTable({
                order: [[1, "desc"]],  // Timezero
            });
        });
    </script>

{% endblock %}
