{% extends "base.html" %}

{% block title %}Project viz: {{ project.name }}{% endblock %}

{% block head %}
    <!-- predtimechart -->
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>

    <!-- https://www.daterangepicker.com/ requirement for predtimechart -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'projects' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
            <li class="breadcrumb-item active">Viz</li>
        </ol>
    </nav>

    <div id="forecastViz_row" class="row">
        {# the div passed to predtimechart initialize(), which populates all DOM elements #}
    </div>


    <script type="module">
        import App from 'https://cdn.jsdelivr.net/gh/reichlab/predtimechart@2.0.6/dist/predtimechart.bundle.js';

        /***
         * Makes an AJAX call to the Zoltar API to fetch truth or forecast data using the passed args, which correspond to those
         * of `utils.visualization.viz_data()` (see). The `success` and `error` callbacks are passed directly to the $.ajax()
         * call and therefore accept the standard arguments:
         * - success: function (data, textStatus, jqXHR) { ... }
         * - error: function (jqXHR, textStatus, thrownError) { ... }
         *
         * Recall that taskIDs is an object with keys for each task ID and corresponding values. For Zoltar, there is
         * always only one task ID: 'unit', e.g., {"unit": "48"}
         */
        function _fetchData(isForecast, targetKey, taskIDs, referenceDate) {
            const unitAbbrev = taskIDs['unit'];
            const requestData = {
                is_forecast: isForecast,
                target_key: targetKey,
                unit_abbrev: unitAbbrev,
                reference_date: referenceDate,
            };

            // using https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch
            const url = "/api/project/" + {{ project.id }} +"/viz-data/";
            const urlObj = new URL(url, document.location.origin);
            Object.keys(requestData).forEach(key => urlObj.searchParams.append(key, requestData[key]))
            return fetch(urlObj);  // Promise
        }

        /**
         * Human judgement ensemble model function that does an AJAX call to the Zoltar API to compute forecast CSV
         * data for the passed args.
         *
         * @private
         */
        function _calcUemForecasts(componentModels, targetKey, referenceDate, userModelName) {
            const url = "/api/project/" + {{ project.id }} +"/viz-human-ensemble-model/";
            const urlObj = new URL(url, document.location.origin);
            urlObj.searchParams.append('target_key', targetKey);
            urlObj.searchParams.append('reference_date', referenceDate);
            urlObj.searchParams.append('user_model_name', userModelName);
            componentModels.forEach((model) => {
                urlObj.searchParams.append('component_model', model);
            });
            console.debug('_calcUemForecasts()', componentModels, targetKey, referenceDate, '.', urlObj.toString());
            return fetch(urlObj);  // Promise
        }

        // componentDiv, _fetchData, isIndicateRedraw, options, _calcUemForecasts:
        App.initialize('forecastViz_row', _fetchData, true, {{ options|safe }}, _calcUemForecasts);

    </script>

{% endblock %}
