{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'projects' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
    </nav>


    <h1>{{ title }}</h1>

    <p>This form lets you edit and submit JSON to query {{ query_type_str }}. The query syntax is documented on the
        <a href="https://docs.zoltardata.com/">Zoltar documentation site</a>. Clicking <code>Submit</code> will send the
        query to Zoltar and take you to the new Job's
        <a href="https://docs.zoltardata.com/forecasts/#check-an-uploads-status"
           target="_blank">status page</a> where you can refresh to see how it's progressing. Once it's successful you
        can then click the <code>Download CSV button</code> to get the query's results file. An example valid query is
        shown below, but there are no guarantees that there is data corresponding to this combination.
    </p>

    {% include 'show_form_snippet.html' %}

{% endblock %}
