    <style>
        {# https://stackoverflow.com/questions/25626789/make-input-fields-look-like-table-cells-in-bootstrap-3 #}
        input {
            display: block;
            padding: 0;
            margin: 0;
            border: 0;
            width: 100%;
        }

        td {
            margin: 0;
            padding: 0;
        }
    </style>

    {% if form.errors %}
        <p class="text-danger">There were errors. Please correct them below.</p>
    {% endif %}

    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        {% include 'form_snippet.html' %}

        <button type="button" onclick="history.back()" class="btn btn-default">Cancel</button>
        <button type="submit" class="save btn btn-success">{{ button_name }}</button>
    </form>
