{% extends "base.html" %}

{% load humanize %}

{% block title %}Project template for {{ project.name }}{% endblock %}

{% block content %}

    <p class="lead">Project template for &ldquo;{{ project.name }}&rdquo;
        <a href="{% url 'api-template-detail' project.pk %}" class="btn btn-info btn-xs" role="button">API</a>

        {% if is_user_ok_edit_project and project.is_template_loaded %}
            {# show a button inside a modal dialog for deleting the template #}

            {# Delete Template: a button that shows a hidden confirm modal when clicked #}
            <button type="submit" class="btn btn-danger btn-sm" data-toggle="modal"
                    data-target="#confirmModal_{{ project.html_id }}">
                <i class="fas fa-trash-alt"></i>
            </button>

            {# the modal itself - hidden until above button shows it #}
            {% include 'delete_modal_snippet.html' with delete_object=project delete_url='delete-template' delete_question='Delete template?' %}
        {% endif %}
    </p>


    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Project:</th>
                    <td><a href="{% url 'project-detail' project.pk %}">{{ project.name }}</a></td>
                </tr>
                <tr>
                    <th>Data Filename:</th>
                    <td>
                        {% if project.is_template_loaded %}
                            {{ project.csv_filename }}
                        {% else %}
                            <small class="text-muted">(No template)</small>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    {% if project.is_template_loaded %}
        {% include 'csv_data_snippet.html' with model_with_cdc_data=project %}

        {# show the file download form with a button dropdown for the download formats #}
        <form id="download_form" class="form-inline" method="POST" action="{% url 'download-template' project.pk %}">
            {% csrf_token %}
            <input id="download_format" type="text" name="format" value="csv" hidden>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">Download <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a onclick="$('#download_format').val('csv'); $('#download_form').submit()">CSV</a></li>
                    <li><a onclick="$('#download_format').val('json'); $('#download_form').submit()">JSON</a></li>
                </ul>
            </div>
        </form>
    {% else %}
        <h2>Preview of {{ project.get_num_rows|intword|intcomma }} row{{ project.get_num_rows|pluralize }}</h2>
        <small class="text-muted">(No data)</small>
    {% endif %}

{% endblock %}
