{% extends "base.html" %}

{% load humanize %}

{% block title %}Project truth data for {{ project.name }}{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'projects' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
            <li class="breadcrumb-item active">Truth</li>
        </ol>
    </nav>


    <h2>Project truth for &ldquo;{{ project.name }}&rdquo;
        {% if user.is_authenticated %}
            <a href="{% url 'api-truth-detail' project.pk %}" class="btn btn-primary btn-sm" role="button">API</a>
        {% endif %}

        {% if is_user_ok_edit_project and is_truth_data_loaded %}
            {# show a button inside a modal dialog for deleting the truth #}

            {# Delete truth: a button that shows a hidden confirm modal when clicked #}
            <button type="submit" class="btn btn-danger btn-sm" data-toggle="modal"
                    data-target="#confirmModal_{{ project.html_id }}">
                <i class="fas fa-trash-alt"></i>
            </button>

            {# the modal itself - hidden until above button shows it #}
            {% include 'delete_modal_snippet.html' with delete_object=project delete_url='delete-truth' delete_question='Delete truth?' %}
        {% endif %}
    </h2>


    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Upload filename:</th>
                    <td>
                        {% if is_truth_data_loaded %}
                            {{ first_truth_forecast.source }}
                        {% else %}
                            <small class="text-muted">(No truth data)</small>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Updated at:</th>
                    <td>
                        {% if is_truth_data_loaded %}
                            {{ first_truth_forecast.created_at|date:"Y-m-d H:i:s T" }}
                        {% else %}
                            <small class="text-muted">(No update date found)</small>
                        {% endif %}
                    </td>
                </tr>
                {% if request.user.is_superuser %}
                    <tr>
                        <th>Oracle model:</th>
                        <td>
                            {% if is_truth_data_loaded %}
                                <a href="{% url 'model-detail' oracle_model.pk %}">{{ oracle_model.abbreviation }}</a>
                            {% else %}
                                <small class="text-muted">(No truth data)</small>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>


    <h4>Preview of rows</h4>
    {% if is_truth_data_loaded %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th title="Time zero the truth value is for">timezero</th>
                <th title="Unit of forecast - either entire country or a particular region">unit</th>
                <th title="Forecast target">target</th>
                <th title="Forecasted point value or probability assigned">value</th>
            </tr>
            </thead>
            <tbody>
            {% for timezero_date, unit, target_name, value in truth_data_preview %}
                <tr>
                    <td>{{ timezero_date }}</td>
                    <td>{{ unit }}</td>
                    <td>{{ target_name }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>...</td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <small class="text-muted">(No data)</small>
    {% endif %}

{% endblock %}
