{% extends "base.html" %}

{% load humanize %}

{% block title %}Project truth data for {{ project.name }}{% endblock %}

{% block content %}

    <p class="lead">Project truth for &ldquo;{{ project.name }}&rdquo;
        <a href="{% url 'api-truth-detail' project.pk %}" class="btn btn-info btn-xs" role="button">API</a>

        {% if is_user_ok_edit_project and project.is_truth_data_loaded %}
            {# show a button inside a modal dialog for deleting the truth #}

            {# Delete truth: a button that shows a hidden confirm modal when clicked #}
            <button type="submit" class="btn btn-danger btn-sm" data-toggle="modal"
                    data-target="#confirmModal_{{ project.html_id }}">
                <i class="fas fa-trash-alt"></i>
            </button>

            {# the modal itself - hidden until above button shows it #}
            {% include 'delete_modal_snippet.html' with delete_object=project delete_url='delete-truth' delete_question='Delete truth?' %}
        {% endif %}
    </p>


    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Project:</th>
                    <td><a href="{% url 'project-detail' project.pk %}">{{ project.name }}</a></td>
                </tr>
                <tr>
                    <th>Truth Data Filename:</th>
                    <td>
                        {% if project.is_truth_data_loaded %}
                            {{ project.truth_csv_filename }}
                        {% else %}
                            <small class="text-muted">(No truth data)</small>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    {% if project.is_truth_data_loaded %}
        {% include 'truth_data_snippet.html' with project=project %}

        <form id="download_form" class="form-inline" method="POST" action="{% url 'download-truth' project.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Download CSV</button>
        </form>
    {% else %}
        <h2>Preview of {{ project.get_num_truth_rows|intword|intcomma }}
            row{{ project.get_num_truth_rows|pluralize }}</h2>
        <small class="text-muted">(No data)</small>
    {% endif %}

{% endblock %}
