{% extends "base.html" %}

{% load humanize %}
{% load tz %}

{% block title %}Project truth data for {{ project.name }}{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'projects' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
            <li class="breadcrumb-item active">Truth</li>
        </ol>
    </nav>


    <h2>Project truth for &ldquo;{{ project.name }}&rdquo;
        {% if user.is_authenticated %}
            <a href="{% url 'api-truth-detail' project.pk %}" class="btn btn-primary btn-sm" role="button">API</a>
        {% endif %}
    </h2>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th># Batches:</th>
                    <td>
                        {% if is_truth_data_loaded %}
                            {{ batches|length }}
                        {% else %}
                            <small class="text-muted">(No truth data)</small>
                        {% endif %}
                    </td>
                </tr>
                {% if request.user.is_superuser %}
                    <tr>
                        <th>Oracle model:</th>
                        <td>
                            {% if is_truth_data_loaded %}
                                <a href="{% url 'model-detail' oracle_model.pk %}">{{ oracle_model.abbreviation }}</a>
                            {% else %}
                                <small class="text-muted">(No truth data)</small>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Upload:</th>
                    <td>
                        {% if is_user_ok_edit_project %}
                            {# show a button for uploading a file #}
                            <form class="form-inline" method="POST" enctype="multipart/form-data"
                                  action="{% url 'upload-truth' project.pk %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="file" name="data_file"> &nbsp;
                                    <button class="btn-sm btn-success" type="submit">
                                        <i class="fas fa-cloud-upload-alt"></i> Upload
                                    </button>
                                </div>
                            </form>
                        {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <h4>Batches</h4>
    {% if is_truth_data_loaded %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th title="batch number">Batch</th>
                <th title="source">Source</th>
                <th title="issued at">Issued at</th>
            </tr>
            </thead>
            <tbody>
            {% for source, issued_at in batches %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{% if source %} {{ source }} {% else %}(no source){% endif %}</td>
                    <td>{% localtime off %} {{ issued_at|date:"Y-m-d H:i:s T" }} {% endlocaltime %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <small class="text-muted">(No data)</small>
    {% endif %}

{% endblock %}
