{% load humanize %}

<h4>Preview of {{ project.get_num_truth_rows|intword|intcomma }} row{{ project.get_num_truth_rows|pluralize }}</h4>
<table class="table table-striped">
    <thead>
    <tr>
        <th title="Time zero the truth value is for">timezero</th>
        <th title="Unit of forecast - either entire country or a particular region">unit</th>
        <th title="Forecast target">target</th>
        <th title="Forecasted point value or probability assigned">value</th>
    </tr>
    </thead>
    <tbody>
    {% for timezero_date, unit, target_name, value in project.get_truth_data_preview %}
        <tr>
            <td>{{ timezero_date }}</td>
            <td>{{ unit }}</td>
            <td>{{ target_name }}</td>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td>...</td>
    </tr>
    </tbody>
</table>
