<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Status</th>
        <th>File Name</th>
        <th>Failure</th>
        <th>&Delta;T</th>
        <th>Created</th>
        <th>Updated</th>
        <th>JSON In</th>
        <th>JSON Out</th>
    </tr>
    </thead>
    <tbody>
    {% for upload_file_job in upload_file_jobs %}
        <tr>
            <td><a href="{% url 'upload-file-job-detail' upload_file_job.pk %}">{{ upload_file_job.pk }}</a></td>
            <td>
                <a href="{% url 'user-detail' upload_file_job.user.pk %}">{{ upload_file_job.user.username }}</a>
            </td>
            <td><span class="{{ upload_file_job.status_color }}">{{ upload_file_job.status_as_str }}</span></td>
            <td>{{ upload_file_job.filename }}</td>
            <td>{% if upload_file_job.is_failed %}{{ upload_file_job.failure_message|truncatechars:40 }}{% else %}
                None{% endif %}</td>
            <td>{{ upload_file_job.elapsed_time }}</td>
            <td>{{ upload_file_job.created_at|date:"Y-m-d h:i:s" }}</td>
            <td>{{ upload_file_job.updated_at|date:"Y-m-d h:i:s" }}</td>
            <td>{{ upload_file_job.input_json }}</td>
            <td>{{ upload_file_job.output_json }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
