{% extends "base.html" %}

{% load humanize %}

{% block title %}Zoltar Admin: Jobs{% endblock %}

{% block content %}

    <p class="lead">Zoltar Admin: Jobs </p>


    <h2>Jobs <small>({{ jobs|length }})</small></h2>

    {% if jobs %}
        <br>
        {% include 'job_table_snippet.html' with jobs=jobs %}
    {% else %}
        <p>
            <small class="text-muted">(No jobs)</small>
        </p>
    {% endif %}

    <form class="form-inline" method="POST" enctype="multipart/form-data"
          action="{% url 'delete-file-jobs' %}">
        {% csrf_token %}
        <div class="form-group">
            <button class="form-control btn btn-danger" type="submit">Delete File Jobs</button>
        </div>
    </form>


    <!-- activate the https://datatables.net/ -->
    <script>
        $(document).ready(function () {
            $('#jobs_table').DataTable();
        });
    </script>

{% endblock %}
