{% extends "base.html" %}

{% load humanize %}

{% block title %}Zoltar Admin{% endblock %}

{% block content %}

    <p class="lead">Zoltar Administration Tools</p>


    <h2>Sub-pages</h2>

    <ul>
        <li><a href="{% url 'zadmin-jobs' %}">Jobs</a></li>
    </ul>


    <h2>Django</h2>

    <ul>
        <li>Database Name: &ldquo;{{ django_db_name }}&rdquo;</li>
        <li>Database Vendor: &ldquo;{{ django_conn.vendor }}&rdquo;</li>
        <li>S3_BUCKET_PREFIX: &ldquo;{{ s3_bucket_prefix }}&rdquo;</li>
        <li>MAX_NUM_QUERY_ROWS: {{ max_num_query_rows|intcomma }}</li>
        <li>MAX_UPLOAD_FILE_SIZE: {{ max_upload_file_size|intcomma }}</li>
    </ul>


    <h2>PK Reference</h2>

    <p>Projects:</p>
    {% if projects_sort_pk %}
        <ul>
            {% for project, num_models in projects_sort_pk %}
                <li>{{ project.pk }}: <a href="{% url 'project-detail' project.pk %}">{{ project.name }}</a>
                    ({{ num_models }} model{{ num_models|pluralize }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            <small class="text-muted">(No projects)</small>
        </p>
    {% endif %}

    <hr> {# hack to get buttons to group visually with content above them #}

{% endblock %}
