{% extends "base.html" %}

{% load humanize %}

{% block title %}Zoltar Admin{% endblock %}

{% block content %}

    <p class="lead">Zoltar Administration Tools</p>


    <h2>Django</h2>

    <ul>
        <li>Database Name: &ldquo;{{ django_db_name }}&rdquo;</li>
        <li>Database Vendor: &ldquo;{{ django_conn.vendor }}&rdquo;</li>
    </ul>


    <h2>RQ</h2>

    <ul>
        <li>Connection: {{ rq_conn }}</li>
        <li>Queue: {{ queue }}</li>
        <li>Jobs: ({{ queue.jobs|length }})
            <ul>
                {% for job in queue.jobs %}
                    <li>{{ job }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    <form class="form-inline" method="POST" enctype="multipart/form-data"
          action="{% url 'empty-rq' %}">
        {% csrf_token %}
        <div class="form-group">
            <button class="form-control btn btn-danger" type="submit">Empty RQ</button>
        </div>
    </form>


    <h2>UploadFileJobs</h2>

    {% if upload_file_jobs %}
        <br>
        {% include 'upload_file_job_table_snippet.html' with upload_file_jobs=upload_file_jobs %}
    {% else %}
        <p>(No jobs)</p>
    {% endif %}

    <form class="form-inline" method="POST" enctype="multipart/form-data"
          action="{% url 'delete-file-jobs' %}">
        {% csrf_token %}
        <div class="form-group">
            <button class="form-control btn btn-danger" type="submit">Delete File Jobs</button>
        </div>
    </form>


    <h2>Row Count Caches</h2>

    {% if projects %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>Project</th>
                <th>row_count</th>
                <th>last_update</th>
            </tr>
            {% for project in projects %}
                {% with proj_summary_counts=project.get_summary_counts %}
                    <tr>
                        <td>
                            <a href="{% url 'project-detail' project.pk %}">{{ project.name }}</a>
                        </td>
                        <td>
                            {{ project.row_count_cache.row_count|intcomma }}
                        </td>
                        <td>
                            {{ project.row_count_cache.last_update|date:"Y-m-d h:i:s" }}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </table>

        <form class="form-inline" style="display: inline-block;" method="POST"
              action="{% url 'clear-row-count-caches' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Clear All</button>
        </form>

        <form class="form-inline" style="display: inline-block;" method="POST"
              action="{% url 'update-row-count-caches' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Update All</button>
        </form>

    {% else %}
        <p>There are no projects in the archive.</p>
    {% endif %}

{% endblock %}
