{% extends "base.html" %}

{% load humanize %}

{% block title %}Zoltar Admin: ScoreLastUpdates{% endblock %}

{% block content %}

    <p class="lead">Zoltar Admin: ScoreLastUpdates</p>

    <h2>ScoreLastUpdates</h2>

    {% if score_last_update_rows %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>Score</th>
                <th>Project</th>
                <th>Model</th>
                <th>Score updated_at</th>
                <th>Model changed_at</th>
                <th>Needs update?</th>
            </tr>
            {% for forecast_model, score, updated_at, is_needs_update in score_last_update_rows %}
                <tr>
                    <td>{{ score.abbreviation }}</td>
                    <td>
                        <a href="{% url 'project-detail' forecast_model.project.pk %}">{{ forecast_model.project.name }}</a>
                    </td>
                    <td><a href="{% url 'model-detail' forecast_model.pk %}">{{ forecast_model.name }}</a></td>
                    <td>{{ updated_at|date:"Y-m-d h:i:s" }}</td>
                    <td>{{ forecast_model.score_change.changed_at|date:"Y-m-d h:i:s" }}</td>
                    <td>{% if is_needs_update %}<i class="fas fa-edit"></i>{% else %}{% endif %}</td>
                </tr>
            {% endfor %}
        </table>

        <form class="form-inline" style="display: inline-block;" method="POST"
              action="{% url 'delete-score-last-updates' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete All</button>
        </form>
    {% else %}
        <p>
            <small class="text-muted">(No score updates)</small>
        </p>
    {% endif %}

{% endblock %}
