{% extends "base.html" %}

{% load humanize %}

{% block title %}Zoltar Admin: UploadFileJobs{% endblock %}

{% block content %}

    <p class="lead">Zoltar Admin: UploadFileJobs </p>


    <h2>UploadFileJobs</h2>

    {% if upload_file_jobs %}
        <br>
        {% include 'upload_file_job_table_snippet.html' with upload_file_jobs=upload_file_jobs %}
    {% else %}
        <p>
            <small class="text-muted">(No jobs)</small>
        </p>
    {% endif %}

    <form class="form-inline" method="POST" enctype="multipart/form-data"
          action="{% url 'delete-file-jobs' %}">
        {% csrf_token %}
        <div class="form-group">
            <button class="form-control btn btn-danger" type="submit">Delete File Jobs</button>
        </div>
    </form>

{% endblock %}
