[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
click = "*"
requests = "*"
jsonfield = "*"
"psycopg2" = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework = "*"
httpie = "*"


[dev-packages]



[requires]

python_version = "3.6"