[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.29"
click = "*"
requests = "*"
jsonfield = "==2.1.1"
"psycopg2-binary" = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = {extras = ["brotli"],version = "*"}
djangorestframework = "*"
httpie = "*"
pymmwr = "==0.1.0"
pyyaml = "*"
djangorestframework-csv = "*"
newrelic = "*"
django-debug-toolbar = "*"
redis = "*"
rq = "==1.2.0"
django-rq = "==2.1.0"
"boto3" = "*"
djangorestframework-jwt = "*"
more-itertools = "*"
django-anymail = {version = "*",extras = ["sendinblue", "sendgrid"]}
django-compressor = "*"
django-libsass = "*"
brotlipy = "*"
scout-apm = "*"

[dev-packages]

[requires]
python_version = "3.6"
