[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.7"
click = "*"
requests = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = {extras = ["brotli"],version = "*"}
djangorestframework = "*"
httpie = "*"
pymmwr = "==0.1.0"
pyyaml = "*"
djangorestframework-csv = "*"
django-debug-toolbar = "*"
redis = "*"
rq = "*"
django-rq = "*"
"boto3" = "*"
djangorestframework-jwt = "*"
more-itertools = "*"
django-anymail = {version = "*",extras = ["sendinblue", "sendgrid"]}
django-compressor = "*"
django-libsass = "*"
brotlipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
