{% extends "rest_framework/base.html" %}
{% load i18n %}

{% block bootstrap_theme %}
    
    <link href="https://fonts.googleapis.com/css?family=Exo:400,600,700&display=swap" rel="stylesheet">
     
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% load static %}
    {% load compress %}
    {% compress css %}
        <link type="text/x-scss" rel="stylesheet" href="{% static 'css/custom_api.css' %}">
    {% endcompress %}
{% endblock %}

{% block title %}{% if name %}{{ name }} – {% endif %}Zoltar API{% endblock %}


{% block navbar %}
    {% include 'navbar_snippet_api.html' %}
{% endblock %}
