{% extends "base.html" %}

{% block title %}Model: {{ forecastmodel.name }}{% endblock %}

{% block content %}

    <p class="lead">Model: {% if forecastmodel.team_name %} {{ forecastmodel.team_name }}
        - {% endif %}{{ forecastmodel.name }}
        <a href="{% url 'api-model-detail' forecastmodel.pk %}" class="btn btn-info btn-xs" role="button">API</a>
        {% if is_user_ok_edit_model %}
            {# Edit ForecastModel: a simple link to an edit form #}
            &nbsp;
            <a href="{% url 'edit-model' forecastmodel.pk %}" class="btn btn-success btn-sm" role="button">
                <i class="fas fa-edit"></i>
            </a>

            {# Delete ForecasModel: a button that shows a hidden confirm modal when clicked #}
            <button type="submit" class="btn btn-danger btn-sm" data-toggle="modal"
                    data-target="#confirmModal_{{ forecastmodel.html_id }}">
                <i class="fas fa-trash-alt"></i>
            </button>

            {# the modal itself - hidden until above button shows it #}
            {% include 'delete_modal_snippet.html' with delete_object=forecastmodel delete_url='delete-model' %}
        {% endif %}
    </p>


    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Name:</th>
                    <td>{{ forecastmodel.name }}</td>
                </tr>
                <tr>
                    <th>Abbreviation:</th>
                    <td>
                        {% if forecastmodel.abbreviation %}
                            {{ forecastmodel.abbreviation }}
                        {% else %}
                            <small class="text-muted">(No abbreviation)</small>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Owner:</th>
                    <td>
                        {% if forecastmodel.owner %}
                            <a href="{% url 'user-detail' forecastmodel.owner.pk %}">{{ forecastmodel.owner.username }}</a>
                        {% else %}
                            <small class="text-muted">(No owner)</small>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Project:</th>
                    <td><a href="{{ forecastmodel.project.get_absolute_url }}">{{ forecastmodel.project.name }}</a></td>
                </tr>
                <tr>
                    <th>Team name:</th>
                    <td>{% if forecastmodel.team_name %} {{ forecastmodel.team_name }} {% else %}
                        <small class="text-muted">(No team name)</small> {% endif %}</td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>{{ forecastmodel.description|safe|linebreaksbr }}</td>
                </tr>
                <tr>
                    <th>Home:</th>
                    <td>
                        {% if forecastmodel.home_url %}
                            <a href="{{ forecastmodel.home_url }}">{{ forecastmodel.home_url }}</a>
                        {% else %}
                            <small class="text-muted">(No URL)</small>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Auxiliary data:</th>
                    <td>
                        {% if forecastmodel.auxiliary_data %}
                            <a href="{{ forecastmodel.auxiliary_data }}">{{ forecastmodel.auxiliary_data }}</a>
                            {# todo #}
                        {% else %}
                            <small class="text-muted">(No auxiliary data)</small>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <h2>Forecasts ({{ forecastmodel.forecasts.all|length }})</h2>
    {% if timezero_forecast_pairs %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Timezero</th>
                <th>Data Source</th>
                <th>Upload Date</th>
                {% if is_user_ok_edit_model %}
                    <th>Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for timezero, forecast in timezero_forecast_pairs %}
                <tr>
                    <td>
                        {{ timezero.timezero_date|date:"Y-m-d" }}
                    </td>
                    <td>
                        {% if forecast %}
                            <a href="{{ forecast.get_absolute_url }}">{{ forecast.source }}</a>
                        {% else %}
                            <small class="text-muted">(No data)</small>
                        {% endif %}
                    </td>
                    <td>
                        {{ forecast.created_at|date:"Y-m-d h:i:s" }}
                    </td>
                    {% if is_user_ok_edit_model %}
                        <td>
                            {% if forecast %}
                                {# show a button inside a modal dialog for deleting a forecast #}

                                {# Delete Forecast: a button that shows a hidden confirm modal when clicked #}
                                <button type="submit" class="btn btn-danger btn-sm" data-toggle="modal"
                                        data-target="#confirmModal_{{ forecast.html_id }}">
                                    <i class="fas fa-trash-alt"></i>
                                </button>

                                {# the modal itself - hidden until above button shows it #}
                                {% include 'delete_modal_snippet.html' with delete_object=forecast delete_url='delete-forecast' %}
                            {% else %}
                                {# show a button for uploading a file #}
                                <form class="form-inline" method="POST" enctype="multipart/form-data"
                                      action="{% url 'upload-forecast' forecastmodel.pk timezero.pk %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <button class="form-control btn btn-success" type="submit">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                        </button>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="data_file">
                                    </div>
                                </form>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <small class="text-muted">(No forecasts)</small>
    {% endif %}

{% endblock %}
