{% extends "base.html" %}

{% load tz %}

{% block title %}Model: {{ forecastmodel.abbreviation }}{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'projects' %}">Home</a></li>
            <li class="breadcrumb-item"><a
                    href="{{ forecastmodel.project.get_absolute_url }}">{{ forecastmodel.project.name }}</a></li>
            <li class="breadcrumb-item active">{{ forecastmodel.abbreviation }}</li>
        </ol>
    </nav>


    <h2>Model: {% if forecastmodel.team_name %} {{ forecastmodel.team_name }}
        - {% endif %}{{ forecastmodel.abbreviation }}
        {% if user.is_authenticated %}
            <a href="{% url 'api-model-detail' forecastmodel.pk %}" class="btn btn-primary btn-sm" role="button">API</a>
        {% endif %}
        {% if is_user_ok_edit_model %}
            {# Edit ForecastModel: a simple link to an edit form #}
            <a href="{% url 'edit-model' forecastmodel.pk %}" class="btn btn-success btn-sm" role="button">
                <i class="fas fa-edit"></i>
            </a>

            {# Delete ForecasModel: a button that shows a hidden confirm modal when clicked #}
            <button type="submit" class="btn btn-danger btn-sm" data-toggle="modal"
                    data-target="#confirmModal_{{ forecastmodel.html_id }}">
                <i class="fas fa-trash-alt"></i>
            </button>

            {# the modal itself - hidden until above button shows it #}
            {% include 'delete_modal_snippet.html' with delete_object=forecastmodel delete_url='delete-model' %}
        {% endif %}
    </h2>


    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Name:</th>
                    <td>{{ forecastmodel.name }}</td>
                </tr>
                <tr>
                    <th>Abbreviation:</th>
                    <td>
                        {% if forecastmodel.abbreviation %}
                            {{ forecastmodel.abbreviation }}
                        {% else %}
                            <small class="text-muted">(No abbreviation)</small>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Owner:</th>
                    <td>
                        {% if forecastmodel.owner %}
                            <a href="{% url 'user-detail' forecastmodel.owner.pk %}">{{ forecastmodel.owner.username }}</a>
                        {% else %}
                            <small class="text-muted">(No owner)</small>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Team name:</th>
                    <td>{% if forecastmodel.team_name %} {{ forecastmodel.team_name }} {% else %}
                        <small class="text-muted">(No team name)</small> {% endif %}</td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>{{ forecastmodel.description|safe|linebreaksbr }}</td>
                </tr>

                <tr>
                    <th>Contributors:</th>
                    <td>{{ forecastmodel.contributors }}</td>
                </tr>

                <tr>
                    <th>License:</th>
                    <td>{{ forecastmodel.license_as_str }}</td>
                </tr>

                <tr>
                    <th>Notes:</th>
                    <td>{{ forecastmodel.notes }}</td>
                </tr>

                <tr>
                    <th>Citation:</th>
                    <td>{{ forecastmodel.citation }}</td>
                </tr>

                <tr>
                    <th>Methods:</th>
                    <td>{{ forecastmodel.methods }}</td>
                </tr>

                <tr>
                    <th>Home:</th>
                    <td>
                        {% if forecastmodel.home_url %}
                            <a href="{{ forecastmodel.home_url }}">{{ forecastmodel.home_url }}</a>
                        {% else %}
                            <small class="text-muted">(No URL)</small>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Auxiliary data:</th>
                    <td>
                        {% if forecastmodel.aux_data_url %}
                            <a href="{{ forecastmodel.aux_data_url }}">{{ forecastmodel.aux_data_url }}</a>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    {# https://stackoverflow.com/questions/29030260/inline-checkbox-next-to-a-h3-header #}
    <h2 id="forecasts" style="display: inline-block;">Forecasts
        <small>({{ forecastmodel.forecasts.all|length }})</small></h2>
    <label>&nbsp;<input type="checkbox" id="hide_0_forecasts_checkbox" checked/> Hide if no data</label>

    {% if timezero_forecast_pairs %}
        <table id="forecasts_table" class="table table-striped">
            <thead>
            <tr>
                <th>Timezero</th>
                <th>Data Source</th>
                <th>Upload Time</th>
                <th>Issue date</th>
                <th>Version</th>
                {% if is_user_ok_edit_model %}
                    <th>Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for timezero, forecast, version in timezero_forecast_pairs %}
                <tr>
                    <td>{{ timezero.timezero_date|date:"Y-m-d" }}</td>
                    <td>
                        {% if forecast %}
                            <a href="{{ forecast.get_absolute_url }}">{{ forecast.source }}</a>
                        {% else %}
                            <small class="text-muted">(No data)</small>
                        {% endif %}
                    </td>
                    <td>{% localtime off %} {{ forecast.created_at|date:"Y-m-d H:i:s T" }} {% endlocaltime %}</td>
                    <td>{{ forecast.issue_date|date:"Y-m-d" }}</td>
                    <td><small class="text-muted">{{ version }}</small></td>
                    {% if is_user_ok_edit_model %}
                        <td>
                            {% if forecast %}
                                {# show a button inside a modal dialog for deleting a forecast #}

                                {# Delete Forecast: a button that shows a hidden confirm modal when clicked #}
                                <button type="submit" class="btn btn-danger btn-sm" data-toggle="modal"
                                        data-target="#confirmModal_{{ forecast.html_id }}">
                                    <i class="fas fa-trash-alt"></i>
                                </button>

                                {# the modal itself - hidden until above button shows it #}
                                {% include 'delete_modal_snippet.html' with delete_object=forecast delete_url='delete-forecast' %}
                            {% else %}
                                {# show a button for uploading a file #}
                                <form class="form-inline" method="POST" enctype="multipart/form-data"
                                      action="{% url 'upload-forecast' forecastmodel.pk timezero.pk %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <button class="form-control btn btn-success" type="submit">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                        </button>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="data_file">
                                    </div>
                                </form>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <small class="text-muted">(No forecasts)</small>
    {% endif %}


    <!-- activate the https://datatables.net/ -->
    <script>
        $(document).ready(function () {
            var table = $('#forecasts_table').DataTable({
                order: [[0, "asc"]],  // timezero
            });

            {# http://live.datatables.net/fehobiti/145/edit #}
            $.fn.dataTable.ext.search.push(
                function (settings, searchData, index, rowData, counter) {
                    var checked = $('#hide_0_forecasts_checkbox').is(':checked');
                    if (checked && searchData[2] === '') {  // "Data Source" column
                        return false;  // hide row
                    } else {
                        return true;  // show row
                    }
                });

            $('#hide_0_forecasts_checkbox').on('change', function () {
                table.draw();  // run the search plugin
            });

            table.draw();  // reflect the current checkbox state

        });
    </script>

{% endblock %}
