{% extends "base.html" %}

{% block title %}Model: {{ forecastmodel.name }}{% endblock %}

{% block content %}

    <p class="lead">Model: {{ forecastmodel.name }}
        {% if user == forecastmodel.owner %}
            {# Edit ForecastModel: a simple link to an edit form #}
            &nbsp;
            <a href="{% url 'edit-model' forecastmodel.pk %}" class="btn btn-success btn-sm" role="button">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>

            {# Delete ForecasModel: a button that shows a hidden confirm modal when clicked #}
            <button type="submit" class="btn btn-danger btn-sm" data-toggle="modal"
                    data-target="#confirmModal_{{ forecastmodel.html_id }}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>

            {# the modal itself - hidden until above button shows it #}
            {% include 'delete_modal_snippet.html' with delete_object=forecastmodel delete_url='delete-model' %}
        {% endif %}
    </p>

    <p><strong>Owner</strong>:
        {% if forecastmodel.owner %}
            <a href="{% url 'user-detail' forecastmodel.owner.pk %}">{{ forecastmodel.owner.username }}</a>
        {% else %}
            <small class="text-muted">(No owner)</small>
        {% endif %}
    </p>
    <p><strong>Project</strong>: <a href="{{ forecastmodel.project.get_absolute_url }}">
        {{ forecastmodel.project.name }}</a></p>
    <p><strong>Description</strong>: {{ forecastmodel.description }}</p>
    <p><strong>Home</strong>:
        {% if forecastmodel.home_url %}
            <a href="{{ forecastmodel.home_url }}">{{ forecastmodel.home_url }}</a>
        {% else %}
            <small class="text-muted">(No URL)</small>
        {% endif %}
    </p>
    <p><strong>Auxiliary data</strong>:
        {% if forecastmodel.auxiliary_data %}
            <a href="{{ forecastmodel.auxiliary_data }}">{{ forecastmodel.auxiliary_data }}</a>  {# todo #}
        {% else %}
            <small class="text-muted">(No auxiliary data)</small>
        {% endif %}
    </p>


    <h2>Forecasts ({{ forecastmodel.forecasts.all|length }})</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>TimeZero</th>
            <th>Data Filename</th>
            {% if user == forecastmodel.owner %}
                <th>Action</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for time_zero, forecast in timezero_forecast_pairs %}
            <tr>
                <td>
                    {{ time_zero.timezero_date|date:"Y-m-d" }}
                </td>
                <td>
                    {% if forecast %}
                        <a href="{{ forecast.get_absolute_url }}">{{ forecast.csv_filename }}</a>
                    {% else %}
                        <small class="text-muted">(No data)</small>
                    {% endif %}
                </td>
                {% if user == forecastmodel.owner %}
                    <td>
                        {% if forecast %}
                            {# show a button inside a modal dialog for deleting a forecast #}

                            {# Delete Forecast: a button that shows a hidden confirm modal when clicked #}
                            <button type="submit" class="btn btn-danger btn-sm" data-toggle="modal"
                                    data-target="#confirmModal_{{ forecast.html_id }}">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>

                            {# the modal itself - hidden until above button shows it #}
                            {% include 'delete_modal_snippet.html' with delete_object=forecast delete_url='delete-forecast' %}
                        {% else %}
                            {# show a button for uploading a file #}
                            {# todo use a proper Django form?, e.g., https://docs.djangoproject.com/en/1.11/topics/http/file-uploads/ #}
                            <form class="form-inline" method="POST" enctype="multipart/form-data"
                                  action="{% url 'upload-forecast' forecastmodel.pk time_zero.pk %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <button class="form-control btn btn-success" type="submit">
                                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="form-group">
                                    <input type="file" name="data_file">
                                </div>
                            </form>
                        {% endif %}
                    </td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
