{% extends "base.html" %}

{% block title %}Forecast: {{ forecast.time_zero.timezero_date|date:"Y-m-d" }}{% endblock %}

{% block content %}

    <p class="lead">Forecast: {{ forecast.time_zero.timezero_date|date:"Y-m-d" }}</p>

    <p><strong>Model</strong>: <a href="{{ forecast.forecast_model.get_absolute_url }}">
        {{ forecast.forecast_model.name }}</a></p>
    <p><strong>TimeZero</strong>: {{ forecast.time_zero.timezero_date|date:"Y-m-d" }}</p>
    <p><strong>Data Filename</strong>: {{ forecast.csv_filename }}</p>

    {% include 'csv_data_snippet.html' with model_with_cdc_data=forecast %}

    <form class="form-inline" method="POST" action="{% url 'download-forecast-json' forecast.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Download as JSON file</button>
    </form>

{% endblock %}
