{% extends "base.html" %}

{% load humanize %}

{% block title %}Forecast: {{ forecast.time_zero.timezero_date|date:"Y-m-d" }}{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'projects' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ forecast.forecast_model.project.get_absolute_url }}">{{ forecast.forecast_model.project.name }}</a></li>
            <li class="breadcrumb-item"><a href="{{ forecast.forecast_model.get_absolute_url }}">{{ forecast.forecast_model.name }}</a></li>
            <li class="breadcrumb-item active">{{ forecast.time_zero.timezero_date|date:"Y-m-d" }}</li>
        </ol>
    </nav>

    <h2>Forecast: {{ forecast.time_zero.timezero_date|date:"Y-m-d" }}
        {% if user.is_authenticated %}
            <a href="{% url 'api-forecast-detail' forecast.pk %}" class="btn btn-primary btn-sm" role="button">API</a>
        {% endif %}
    </h2>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>TimeZero:</th>
                    <td>
                        {{ forecast.time_zero.timezero_date|date:"Y-m-d" }}
                        {% if forecast.time_zero.data_version_date %}
                            <span class="text-muted">@ {{ forecast.time_zero.data_version_date|date:"Y-m-d" }}</span>
                        {% else %}
                            <small class="text-muted">(No data version date)</small>
                        {% endif %}
                        {% if forecast.time_zero.is_season_start %}
                            . Starts season &ldquo;{{ forecast.time_zero.season_name }}&rdquo;.
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Data Source:</th>
                    <td>{{ forecast.source }}</td>
                </tr>
                <tr>
                    <th>Upload Time:</th>
                    <td>{{ forecast.created_at|date:"Y-m-d H:i:s T" }}</td>
                </tr>
                <tr>
                    <th>Notes:</th>
                    <td>
                        {% if forecast.notes %}
                            {{ forecast.notes }}
                        {% else %}
                            <small class="text-muted">(No notes)</small>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <h4>Unit{{ found_units|pluralize }}</h4>
    <ul>
        <li><strong>{{ found_units|length|intword|intcomma }}</strong>
            (out of <strong>{{ forecast.forecast_model.project.units.all|length }}</strong>)</li>
    </ul>

    <h4>Target{{ found_targets|pluralize }}</h4>
    <ul>
        <li><strong>{{ found_targets|length|intword|intcomma }}</strong>
            (out of <strong>{{ forecast.forecast_model.project.targets.all|length }}</strong>)</li>
    </ul>

    <h4>Prediction{{ forecast.get_num_rows|pluralize }} <small>({{ forecast.get_num_rows|intword|intcomma }})</small>
    </h4>
    {% for pred_type, count in pred_type_count_pairs %}
        <ul>
            <li><code>{{ pred_type }}</code>: {{ count|intword|intcomma }} row{{ count|pluralize }}</li>
        </ul>
    {% endfor %}

    <form id="download_form" class="form-inline" method="POST" action="{% url 'download-forecast' forecast.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Download JSON</button>
    </form>

{% endblock %}
