{% extends "base.html" %}

{% load tz %}

{% block title %}Job: {{ job.id }}{% endblock %}

{% block content %}

    <h2>Job: {{ job.id }}
        <a href="{% url 'api-job-detail' job.pk %}" class="btn btn-primary btn-sm" role="button">API</a>
    </h2>
    <p>Reload the page to refresh the status.</p>
    <br>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>User:</th>
                    <td>
                        <a href="{% url 'user-detail' job.user.pk %}">{{ job.user.username }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td><span class="{{ job.status_color }}">{{ job.status_as_str }}</span></td>
                </tr>
                <tr>
                    <th>Failure</th>
                    <td>{% if job.is_failed %}{{ job.failure_message }}{% else %}
                        None{% endif %}</td>
                </tr>
                <tr>
                    <th>&Delta;T:</th>
                    <td>{{ job.elapsed_time }}</td>
                </tr>
                <tr>
                    <th>Created:</th>
                    <td>{% localtime off %} {{ job.created_at|date:"Y-m-d H:i:s T" }} {% endlocaltime %}</td>
                </tr>
                <tr>
                    <th>Updated:</th>
                    <td>{% localtime off %} {{ job.updated_at|date:"Y-m-d H:i:s T" }} {% endlocaltime %}</td>
                </tr>
                <tr>
                    <th>JSON In:</th>
                    <td>{{ job.input_json }}</td>
                </tr>
                <tr>
                    <th>JSON Out:</th>
                    <td>{{ job.output_json }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <form id="download_form" class="form-inline" method="GET" action="{% url 'download-job-data' job.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success" {% if not is_file_exists %}disabled{% endif %}>
            Download CSV
        </button>
        {% if not is_file_exists %}
            <span class="text-muted">&nbsp(No job data)</span>
        {% endif %}
    </form>


{% endblock %}
