{% extends "base.html" %}

{% load humanize %}

{% block title %}Project: {{ project.name }}{% endblock %}

{% block content %}

    <p class="lead">
        {% include 'visibility_snippet.html' with project=project size="fa-sm" %}
        Project: {{ project.name }}
        <a href="{% url 'api-project-detail' project.pk %}" class="btn btn-info btn-xs" role="button">API</a>
        {% if is_user_ok_edit_project %}
            {# Edit Project: a simple link to an edit form #}
            <a href="{% url 'edit-project' project.pk %}" class="btn btn-success btn-sm" role="button">
                <i class="fas fa-edit"></i>
            </a>

            {# Delete Project: a button that shows a hidden confirm modal when clicked #}
            <button type="submit" class="btn btn-danger btn-sm" data-toggle="modal"
                    data-target="#confirmModal_{{ project.html_id }}">
                <i class="fas fa-trash-alt"></i>
            </button>

            {# the modal itself - hidden until above button shows it #}
            {% include 'delete_modal_snippet.html' with delete_object=project delete_url='delete-project' %}
        {% endif %}
    </p>


    <div class="row">
        {# left column: info table #}
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th title="Count of models, forecasts, and rows">Summary:</th>
                    <td>
                        {% with proj_summary_counts=project.get_summary_counts %}
                            <span class="text-muted">
                                {% include "project_count_snippet.html" with project=project proj_summary_counts=proj_summary_counts use_intword=False %}
                            </span>
                        {% endwith %}
                    </td>
                </tr>
                <tr>
                    <th>Owner:</th>
                    <td>
                        {% if project.owner %}
                            <a href="{% url 'user-detail' project.owner.pk %}">{{ project.owner.username }}</a>
                        {% else %}
                            <small class="text-muted">(No owner)</small>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th title="Users who can view private projects, and create models">Model Owners:</th>
                    <td>
                        {% if project.model_owners.all %}
                            {% for model_owner in project.model_owners.all %}
                                {# this line's indentation keeps the comma(s) tight: #}
                                <a href="{% url 'user-detail' model_owner.pk %}">
                                    {{ model_owner.username }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            <small class="text-muted">(No model owners)</small>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th title="Tells the D3 Foresight component what its x-axis label should be. Choices: Week, Biweek, or Month">
                        Time Interval Type
                    </th>
                    <td>{{ project.time_interval_type_to_foresight|title }}</td>
                </tr>
                <tr>
                    <th>Visibility</th>
                    <td>
                        {% if project.is_public %}
                            <span style="color:green">Public</span>
                        {% else %}
                            <span style="color:red">Private</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>{{ project.description|linebreaksbr }}</td>
                </tr>
                <tr>
                    <th>Home:</th>
                    <td><a href="{{ project.home_url }}">{{ project.home_url }}</a></td>
                </tr>
                <tr>
                    <th>Core data:</th>
                    <td><a href="{{ project.core_data }}">{{ project.core_data }}</a></td>
                </tr>
                <tr>
                    <th title="A data file containing observed target values for time zeros and locations. Used to calculate scores, and extract the 'actual' data used in plots">
                        Truth Data:
                    </th>
                    <td>
                        {% if project.is_truth_data_loaded %}
                            {# show a link to the truth detail #}
                            <a href="{% url 'truth-data-detail' project.pk %}">{{ project.truth_csv_filename }}</a>
                            <small class="text-muted">({{ project.get_num_truth_rows|intword|intcomma }} rows)</small>
                        {% else %}
                            {# show that there's no truth data, optionally with upload button #}
                            {% if is_user_ok_edit_project %}
                                {# show a button for uploading a file #}
                                <form class="form-inline" method="POST" enctype="multipart/form-data"
                                      action="{% url 'upload-truth' project.pk %}">
                                    {% csrf_token %}
                                    <small class="text-muted">(No truth data)&nbsp;</small>
                                    <div class="form-group">
                                        <button class="form-control btn btn-success" type="submit">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                        </button>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="data_file">
                                    </div>
                                </form>
                            {% else %}
                                <small class="text-muted">(No truth data)</small>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Analysis:</th>
                    <td><a href="{% url 'project-visualizations' project.pk %}">Visualizations</a>,
                        <a href="{% url 'project-scores' project.pk %}">Aggregate scores</a>,
                        <a href="{% url 'project-score-data' project.pk %}">Score data</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        {# right column: info icon #}
        <div class="col-md-4">
            {% if project.logo_url %}
                <a href="{{ project.home_url }}"><img src="{{ project.logo_url }}"></a>
            {% endif %}
        </div>
    </div>


    <h2>Models ({{ project.models.all|length }})
        {% if is_user_ok_create_model %}
            &nbsp;<a href="{% url 'create-model' project.pk %}" class="btn btn-success" role="button">New</a>
        {% endif %}
    </h2>

    {% include 'model_list_snippet.html' %}


    <h2>Locations ({{ project.locations.all|length }})</h2>

    {% if locations %}
        {% for location in locations %}
            <code>{{ location.name }}</code>{% if not forloop.last %},{% endif %}
        {% endfor %}
    {% else %}
        <small class="text-muted">(No locations)</small>
    {% endif %}


    <h2>Targets ({{ targets|length }})</h2>

    {% if targets %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Unit</th>
                <th>Date?</th>
                <th title="Integer value indicating # steps ahead relative to a time zero. Used for time chart plots, and to extract 'actual' values from the truth data.">
                    Step Ahead?
                </th>
            </tr>
            {% for target in targets %}
                <tr>
                    <td title="This target needs completing. Please edit and fill in missing/incorrect fields.">
                        {% if not target.description and not target.unit %}
                            <span class="text-danger">{{ target.name }}</span>
                        {% else %}
                            {{ target.name }}
                        {% endif %}
                    </td>
                    <td>{{ target.description }}</td>
                    <td>{{ target.unit }}</td>
                    <td>{% if target.is_date %}<i class="fas fa-check"></i>{% else %}{% endif %}</td>
                    <td>
                        {% if target.is_step_ahead %}
                            {{ target.step_ahead_increment }} step{{ target.step_ahead_increment|pluralize }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <small class="text-muted">(No targets)</small>
    {% endif %}


    <h2>Time zeros ({{ project.timezeros.all|length }})</h2>

    {% if project.timezeros.all %}
        <div class="row">
            <div class="col-sm-8">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th title="The date from which a forecast originates and to which targets are relative. Every forecast has a time zero.">
                            Time Zero
                        </th>
                        <th title="(Optional) Latest date at which any forecast data source should be considered. Used externally by system users to recreate model results by 'rolling back' the core data to a particular state.">
                            Data Version Date
                        </th>
                        <th># Forecasts</th>
                        <th>Starts Season</th>
                    </tr>
                    {% for timezero, num_forecasts in timezeros_num_forecasts %}
                        <tr>
                            <td>{{ timezero.timezero_date|date:"Y-m-d" }}</td>
                            <td>
                                {% if timezero.data_version_date %}
                                    &nbsp; @ {{ timezero.data_version_date|date:"Y-m-d" }}
                                {% else %}
                                    <small class="text-muted">(No data version date)</small>
                                {% endif %}
                            </td>
                            <td>{{ num_forecasts }}</td>
                            <td>
                                {% if timezero.is_season_start %}
                                    &nbsp; &ldquo;{{ timezero.season_name }}&rdquo;
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% else %}
        <small class="text-muted">(No time zeros)</small>
    {% endif %}

{% endblock %}