{% extends "base.html" %}

{% load humanize %}

{% block title %}Project: {{ project.name }}{% endblock %}

{% block content %}

    <p class="lead">
        {% include 'visibility_snippet.html' with project=project size="fa-sm" %}
        Project: {{ project.name }}
        <a href="{% url 'api-project-detail' project.pk %}" class="btn btn-info btn-xs" role="button">API</a>
        {% if ok_user_edit_project %}
            {# Edit Project: a simple link to an edit form #}
            &nbsp;
            <a href="{% url 'edit-project' project.pk %}" class="btn btn-success btn-sm" role="button">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>

            {# Delete Project: a button that shows a hidden confirm modal when clicked #}
            <button type="submit" class="btn btn-danger btn-sm" data-toggle="modal"
                    data-target="#confirmModal_{{ project.html_id }}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>

            {# the modal itself - hidden until above button shows it #}
            {% include 'delete_modal_snippet.html' with delete_object=project delete_url='delete-project' %}
        {% endif %}
    </p>


    <div class="row">
        {# left column: info table #}
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Owner:</th>
                    <td>
                        {% if project.owner %}
                            <a href="{% url 'user-detail' project.owner.pk %}">{{ project.owner.username }}</a>
                        {% else %}
                            <small class="text-muted">(No owner)</small>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Model Owners:</th>
                    <td>
                        {% if project.model_owners.all %}
                            {% for model_owner in project.model_owners.all %}
                                {# this line's formatting keeps the comma(s) tight: #}
                                <a href="{% url 'user-detail' model_owner.pk %}">
                                    {{ model_owner.username }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            <small class="text-muted">(No model owners)</small>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Time Interval Type</th>
                    <td>{{ project.time_interval_type_to_foresight|title }}</td>
                </tr>
                <tr>
                    <th>Visibility</th>
                    <td>
                        {% if project.is_public %}
                            <span style="color:green">Public</span>
                        {% else %}
                            <span style="color:red">Private</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>{{ project.description|linebreaksbr }}</td>
                </tr>
                <tr>
                    <th>Home:</th>
                    <td><a href="{{ project.home_url }}">{{ project.home_url }}</a></td>
                </tr>
                <tr>
                    <th>Core data:</th>
                    <td><a href="{{ project.core_data }}">{{ project.core_data }}</a></td>
                </tr>
                <tr>
                    <th>Data Template:</th>
                    <td>
                        {% if project.is_template_loaded %}
                            {# show a link to the template detail #}
                            <a href="{% url 'template-data-detail' project.pk %}">{{ project.csv_filename }}</a>
                        {% else %}
                            {# show that there's no template, optionally with upload button #}
                            {% if ok_user_edit_project %}
                                {# show a button for uploading a file #}
                                <form class="form-inline" method="POST" enctype="multipart/form-data"
                                      action="{% url 'upload-template' project.pk %}">
                                    {% csrf_token %}
                                    <small class="text-muted">(No template)&nbsp;</small>
                                    <div class="form-group">
                                        <button class="form-control btn btn-success" type="submit">
                                            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="data_file">
                                    </div>
                                </form>
                            {% else %}
                                <small class="text-muted">(No template)</small>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Truth data:</th>
                    <td>{{ project.is_truth_data_loaded|intcomma }} row{{ project.is_truth_data_loaded|pluralize }}</td>
                </tr>
                <tr>
                    <th>Analysis:</th>
                    <td><a href="{% url 'project-visualizations' project.pk %}">Visualizations</a>,
                        <a href="{% url 'project-scores' project.pk %}">scores</a>
                    </td>
                </tr>
                <tr>
                    <th>Configuration:</th>
                    <td>
                        <pre>{{ config_dict_pretty }}</pre>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        {# right column: info icon #}
        <div class="col-md-4">
            {% if project.logo_url %}
                <a href="{{ project.home_url }}"><img src="{{ project.logo_url }}"></a>
            {% endif %}
        </div>
    </div>


    <h2>Models ({{ project.models.all|length }})
        {% if ok_user_create_model %}
            &nbsp;<a href="{% url 'create-model' project.pk %}" class="btn btn-success" role="button">New</a>
        {% endif %}
    </h2>

    {% include 'model_list_snippet.html' %}


    <h2>Targets ({{ project.targets.all|length }})</h2>

    {% if project.targets.all %}
        <ul>
            {% for target in project.targets.all %}
                <li><strong>{{ target.name }}</strong>: {{ target.description }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <small class="text-muted">(No targets)</small>
    {% endif %}


    <h2>TimeZeros & Data Version Dates ({{ project.timezeros.all|length }})</h2>

    {% if project.timezeros.all %}
        <div class="col-sm-8">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Time Zero</th>
                    <th>Data Version Date</th>
                    <th># Forecasts</th>
                    <th>Starts Season</th>
                </tr>
                {% for timezero, num_forecasts in timezeros_to_num_forecasts.items %}
                    <tr>
                        <td>{{ timezero.timezero_date|date:"Y-m-d" }}</td>
                        <td>
                            {% if timezero.data_version_date %}
                                &nbsp; @ {{ timezero.data_version_date|date:"Y-m-d" }}
                            {% else %}
                                <small class="text-muted">(No data version date)</small>
                            {% endif %}
                        </td>
                        <td>{{ num_forecasts }}</td>
                        <td>
                            {% if timezero.is_season_start %}
                                &nbsp; &ldquo;{{ timezero.season_name }}&rdquo;
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <small class="text-muted">(No TimeZeros)</small>
    {% endif %}

{% endblock %}